header{
    margin-top: 25px;
    margin-bottom: 100px;
}
/*------Navbar------*/
.navbar, .right_nav{
    display: flex;
    align-items: center;
    flex-direction: row;

}
.logo{
    left: 6.5%;
    position: absolute;
}
.navbar button{
    background: none;
    border-radius: 0;
    color: var(--main-color);
    font-size: 10px;
    padding: 0;
}
.navbar input{
    display: none;
}
.left_nav{
    width: 70%;
}
.left_nav_wrapper li:not(:last-child){
    margin-right: 5.45%;
 }
 .right_nav{
    justify-content: flex-end;
    width: 30%;
}


/*------language------*/
.language_wrapper{
    margin-right: 14.2%;
    position: relative;
}
.language_list{
    white-space: nowrap;
}
.drop_arrow{
    font-size: 10px;
}
.language{
    font-size: 0;
    flex-direction: column;
    left: -3px;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    transition: .5s;
    z-index: 1;
}
.language label{
    padding: 3px;
}
.language label:hover{
    padding: 2px;
    border: 1px solid var(--second-color);
}
#language_checkbox:checked ~ .language{
    visibility: visible;
    max-height: 100px;
    padding: 5px 0;
    font-size: 18px;

}
/*------language------*/

/*------.contact_us------*/
.contact_us_wrapper{
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(25, 45, 51, 0.15);
    padding: 20px 20px 25px 35px;
}
.contact_us_button{
    display: flex;
    flex-direction: row;
}
.contact_us_button p, .arrow{
    color: var(--second-color);
}
.arrow{
    font-size: 28px;
    font-weight: 700;
    vertical-align: -5px;
}
/*------.contact_us------*/
@media(max-width:1280px){
    .left_nav_wrapper li:not(:last-child){
        margin-right: 4.5%;
     }
    .language_wrapper{
        margin-right: 6%;
    }
}
@media(max-width:1024px){
    .navbar{
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .left_nav, .left_nav ul, .right_nav{
        justify-content: center;
        width: 100%;
    }
    .right_nav{
        padding-top: 10px;
    }

}
@media(max-width:768px){
    .navbar{
        align-items: center;
        flex-wrap: nowrap;
    }
    .logo{
        left: auto;
        position: relative;
    }
    .left_nav{
        order: 1;
        width: fit-content;
    }
    .right_nav{
        justify-content: flex-end;
        order: 0;
        padding: 0;
    }


    /*-----Menu-----*/
    .menu_hamburger{
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 30px;
        padding-left: 20px;
        width: 30px;
        z-index: 1;
    }
    .menu_hamburger > span,
    .menu_hamburger > span::before,
    .menu_hamburger > span::after {
        display: block;
        background-color: var(--main-color);
        border-radius: 2px;
        height: 4px;
        position: absolute;
        width: 30px;
        transition-duration: .25s;
    
    }
    .menu_hamburger > span::before {
        content: '';
        top: -10px;
    }
    .menu_hamburger > span::after {
        content: '';
        top: 10px;
    }
    .left_nav ul{
        width: 33vh;
    }
    .left_nav_wrapper{
        display: block;
        background-color: var(--second-color);
        border-radius: 0 0 10px 10px;
        left: 0;
        margin: 0;
        padding: 35px 0;
        position: fixed;
        top: -100%;
        transition-duration: .5s;
        visibility: hidden;
    }
    .left_nav_wrapper li:not(:last-child){
        margin-right: 0%;
     }
    .left_nav_wrapper li{
        padding: 10px 125px 10px 35px;
        transition: 1.5s all;
    }
    .left_nav_wrapper li:hover{
        background-color: var(--second-color-hover);
        padding: 10px 35px 10px 125px;
    }
    .left_nav_wrapper a{
        color: var(--white-color);
        font-size: 24px;
    }
    #hamburder_checkbox{
        opacity: 0;
    }
    #hamburder_checkbox:checked ~ .menu_hamburger > span, 
    #hamburder_checkbox:checked ~ .menu_hamburger > span::before,
    #hamburder_checkbox:checked ~ .menu_hamburger > span::after{
        background-color: var( --white-color);
        position: fixed;
        z-index: 10;
    }
    #hamburder_checkbox:checked ~ .menu_hamburger > span{
        transform: rotate(45deg);
    }
    #hamburder_checkbox:checked ~ .menu_hamburger > span::before{
        top: 0;
        transform: rotate(0);
    }
    #hamburder_checkbox:checked ~ .menu_hamburger > span::after{
        top: 0;
        transform: rotate(90deg);
    }
    #hamburder_checkbox:checked ~ .left_nav_wrapper{
        position: fixed;
        top: 0;
        visibility: visible;
        width: 100vw;
        z-index: 1;
    }    
    /*-----Menu-----*/
}
@media(max-width:500px){
    .contact_us_wrapper{
        display: none;
    }
    .left_nav_wrapper{
        padding: 25px 0;
    }
}
/*------Navbar------*/

/*------Slider------*/
.slider{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 660px;
    justify-content: center;
    margin-top: 30px;
}
.item{
    width: fit-content;
}
/*------Title------*/
.title{
    flex-direction: row;
}
.title_title, .title p{
    max-width: 500px;
}
.title p{
    margin-top: 45px;
    color: rgb(102, 102, 102);
}
.title_button_form{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}
.title_button_form div:first-child{
    margin-right: 40px;
}
/*------Title------*/

/*------illustration------*/
.illustration img{
    max-height: 660px;
    width: 100%;
}
/*------illustration------*/

.slider-dots {
    text-align: center;
}
.slider-dots_item{
    display: inline-block;
    background-color: var(--main-color);
    border-radius: 50%;
    cursor: pointer;
    height: 12px;
    margin: 0 2px;
    transition: background-color 0.6s ease;
    width: 12px;
}
.active, .slider-dots_item:hover {
    background-color: var(--second-color);
}
.slider .item {
    animation-name: fade;
    animation-duration: 2.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@media(max-width:768px){
    .slider{
        flex-direction: column;
        height: auto;
        margin-top: 50px;
    }
    .slider-dots {
        display: none;
    }
    .slider .item{
        display: flex !important;
        justify-content: center;
        width: 100%;
    }
    .slider .item:last-child{
        margin-top: 60px;
    }
    .title, .title_title{
        width: 80%;
    }
     .title p {
        width: fit-content;
    }
}
@media(max-width:550px){
    .title, .title_title{
        text-align: center;
        width: 100%;
    }
    .title_button_form{
        flex-direction: column;
        justify-content: center;
    }
    .title_button_form div:first-child{
        margin: 0 0 40px 0;
    }
}

/*------Slider------*/